$main-color   : #D57834;
$light-color-1: #d8874d;

.homepage-container {
    display : flex;
    position: fixed;

    .sidebar {
        flex-basis      : 15%;
        height          : 100vh;
        background-color: $main-color;

        color: white;

        .account_name {
            padding      : 0.3rem;
            margin-left  : 0.3rem;
            margin-right : 0.3rem;
            margin-bottom: 0.3rem;

            .text {
                font-size: 0.75rem;
                color: yellow;
            }
        }

        .item {
            padding      : 0.3rem;
            margin-left  : 0.3rem;
            margin-right : 0.3rem;
            margin-bottom: 0.3rem;

            &:hover {
                cursor          : pointer;
                border-radius   : 0.5rem;
                background-color: $light-color-1;
                color           : black;
                font-weight     : 600;
            }
        }

        .icon {
            font-size: 28px;
        }
    }

    .content {
        flex-basis: 85%;
        padding   : 1rem 2rem;

        .title {
            font-size: 26px;
            color    : $main-color;
        }

        .main {
            display        : flex;
            justify-content: space-between;

            .item {
                flex-basis     : 30%;
                height         : 75vh;
                display        : flex;
                flex-direction : column;
                justify-content: space-between;

                .top-left {
                    height: 60%;
                }

                .bottom-left {
                    height: 30%;
                }

                .text-title {
                    color      : white;
                    font-weight: 600;
                }
            }

            .left-content,
            .right-content {
                .top-left {
                    display        : flex;
                    justify-content: space-between;

                    .left,
                    .right {
                        flex-basis: 48%;
                    }

                    .one-box {
                        background-color: $light-color-1;
                        width           : 100%;

                        .image-box {
                            flex-grow: 1;

                            .image {
                                width: 32%;
                            }

                            img {
                                width : 100%;
                                height: 100%;
                            }
                        }
                    }

                    .left,
                    .right {
                        background-color: $light-color-1;

                        .image-box {
                            flex-grow: 1;

                            .image {
                                width: 55%;
                            }

                            img {
                                width : 100%;
                                height: 100%;
                            }
                        }

                    }
                }

                .bottom-left {
                    background-color: $light-color-1;

                    .image-box {
                        flex-grow: 1;

                        .image {
                            width: 25%;
                        }

                        img {
                            width : 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .center-content {
                .top-left {
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;

                    .top,
                    .bottom {
                        flex-basis: 48%;
                    }

                    .bottom {
                        flex-basis: 48%;

                        display        : flex;
                        justify-content: space-between;

                        .left,
                        .right {
                            flex-basis: 48%;
                        }

                        .left,
                        .right {
                            background-color: $light-color-1;

                            .image-box {
                                flex-grow: 1;

                                .image {
                                    width : 30%;
                                    height: 80%;
                                }

                                .staff-image {
                                    width : 40%;
                                    height: 70%;
                                }

                                img {
                                    width : 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .top {
                        background-color: $light-color-1;

                        .image-box {
                            flex-grow: 1;

                            .image {
                                width: 25%;
                            }

                            img {
                                width : 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .bottom-left {
                    background-color: $light-color-1;

                    .image-box {
                        flex-grow: 1;

                        .image {
                            width: 25%;
                        }

                        img {
                            width : 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .section {
                &:hover {
                    cursor    : pointer;
                    transform : scale(1.02);
                    transition: 0.25s;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }
        }
    }
}