$main-color      : #D57834;
$bg-color        : #ECECEC;
$legend-text-size: 1.125rem;

.book-room-container {
    display       : flex;
    flex-direction: column;
    height        : auto;

    .header {
        background-color: $bg-color;

        .title {
            font-size: 2rem;
            color    : $main-color;
        }

        .icon {
            .exit-icon {
                font-size: 2rem;
                color    : red;
                padding  : 5px;

                &:hover {
                    cursor          : pointer;
                    background-color: rgb(247, 190, 190);
                    border-radius   : 0.3125rem;
                    transition      : 0.25s;
                }
            }
        }
    }

    .main {
        flex-grow: 1;

        .border {
            border-color: $main-color !important;
        }

        .left-content {
            width: 60%;


            .top {
                height: 50%;
            }

            .bottom {
                height: auto;

                .left {
                    height: auto;

                    .reset {
                        all: revert;
                    }

                    .legend-text {
                        font-size: $legend-text-size;
                        color    : $main-color;
                    }
                }

                .right {
                    .checkbox-form {
                        .form-check-input {
                            font-size : 20px;
                            box-shadow: 0 0 0 0 white;

                            &:checked {
                                background-color: $main-color;
                                border-color    : $main-color;
                            }
                        }

                        .form-check-label {
                            font-size: 18px;
                        }
                    }

                    .book-btn {
                        width           : 100%;
                        color           : white;
                        background-color: $main-color;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .cancel-btn {
                        width: 100%;
                    }
                }
            }

            .top,
            .bottom {
                .left {
                    width: 60%;

                    .top-left,
                    .bottom-left {
                        flex-grow: 1;

                        .reset {
                            all: revert;
                        }

                        .legend-text {
                            font-size: $legend-text-size;
                            color    : $main-color;
                        }

                        .search-btn {
                            &:hover {
                                cursor          : pointer;
                                color           : white;
                                background-color: $main-color;
                                transition      : 0.25s;
                            }
                        }
                    }
                }

                .right {
                    width: 40%;

                    .reset {
                        all: revert;
                    }

                    .legend-text {
                        font-size: $legend-text-size;
                        color    : $main-color;
                    }
                }
            }

            .form-control:focus {
                border-color: $main-color;
                box-shadow  : 0 0 0 0.01rem $main-color;
            }
        }

        .right-content {
            width     : 40%;
            max-height: 670px;
            overflow-y: auto;

            table {
                thead {
                    tr {
                        th {
                            vertical-align: middle;
                            text-align    : center;
                        }
                    }
                }

                tbody {
                    tr {
                        &:hover {
                            cursor          : pointer;
                            background-color: $main-color;
                            color           : white;
                        }
                    }
                }
            }

            .reset {
                all: revert;
            }

            .legend-text {
                font-size: $legend-text-size;
                color    : $main-color;
            }

            .already-book {
                background-color: $bg-color;
            }
        }
    }
}