$main-color      : #D57834;
$bg-color        : #ECECEC;
$red-pink-color  : #F26C63;
$legend-text-size: 1.125rem;

.book-room-container {
    display       : flex;
    flex-direction: column;
    height        : auto;

    .header {
        background-color: $bg-color;

        .title {
            font-size: 2rem;
            color    : $main-color;
        }

        .icon {
            .exit-icon {
                font-size: 2rem;
                color    : red;
                padding  : 5px;

                &:hover {
                    cursor          : pointer;
                    background-color: rgb(247, 190, 190);
                    border-radius   : 0.3125rem;
                    transition      : 0.25s;
                }
            }
        }
    }

    .main {
        flex-grow: 1;

        .border {
            border-color: $main-color !important;
        }

        .left-content {
            width: 40%;

            input:disabled,
            select:disabled {
                cursor: not-allowed;
            }

            .reset {
                all: revert;
            }

            .legend-text {
                font-size: $legend-text-size;
                color    : $main-color;
            }

            .search-btn {
                &:hover {
                    cursor          : pointer;
                    color           : white;
                    background-color: $main-color;
                    transition      : 0.25s;
                }
            }

            .book-btn {
                width           : 100%;
                color           : white;
                background-color: $main-color;

                &:hover {
                    opacity: 0.8;
                }
            }

            .cancel-btn {
                width: 100%;
            }

            .form-control:focus {
                border-color: $main-color;
                box-shadow  : 0 0 0 0.01rem $main-color;
            }

            .last-confirm-form {
                flex-grow: 1;

                .refresh-btn {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    gap            : 0.3125rem;

                    .refresh-icon {
                        font-size: 1.25rem;
                    }
                }

            }
        }

        .right-content {
            width     : 60%;
            max-height: 65.625rem;
            overflow-y: auto;

            table {
                thead {
                    tr {
                        th {
                            vertical-align: middle;
                            text-align    : center;
                        }
                    }
                }

                tbody {
                    tr {
                        &:hover {
                            cursor          : pointer;
                            background-color: $main-color;
                            color           : white;
                        }
                    }
                }
            }

            .reset {
                all: revert;
            }

            .legend-text {
                font-size: $legend-text-size;
                color    : $main-color;
            }

            .room-book-cancel {
                background-color: #FF8A8A;
                color           : black;

                &:hover {
                    cursor          : not-allowed;
                    color           : black;
                    background-color: #FF8A8A;
                }
            }

            .already-received {
                background-color: #90EE90;
                color           : black;

                &:hover {
                    cursor          : not-allowed;
                    color           : black;
                    background-color: #90EE90;
                }
            }
        }
    }
}