$main-color      : #D57834;
$legend-text-size: 1.125rem;

.service-modal {

    .main {

        .border {
            border-color: $main-color !important;
        }

        .reset {
            all: revert;
        }

        .legend-text {
            font-size: $legend-text-size;
            color    : $main-color;
        }

        .required {
            color: red;
        }
    }

    .form-control:focus {
        border-color: $main-color;
        box-shadow  : 0 0 0 0.01rem $main-color;
    }
}